.siteheader {
  display: flex;
  flex-direction: column;
  background-color: #082e24;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  color: rgb(182, 235, 217);
  position: relative;
  height: 400px;
  width: 100%;
  vertical-align: top;
  text-align: center;

}

h2 {
  font-weight: normal;
  color: white;
}

.profilepic {
  vertical-align: text-top;
  margin: auto;
  position: relative;
  margin-top: 10px;
}



/* Laptops / Desktops: minimum width of 1024px */
@media only screen and (min-width: 1024px) {
  .paddingDown{
    padding-top: 120px;
  }
}
