
nav {
  font-family: 'Bungee', cursive;
  width: 100%;
  height: 120px;
  background-color: transparent;
  color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  padding: 1.5em;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

/* Laptops / Desktops: minimum width of 1024px */
@media only screen and (min-width: 1024px) {
  nav{
  background-color: #003d2e;
  }
}

.rightnav {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#navbutton {
  color:white;
  background-color: transparent;
  transition: all 0.5s;
  font-family: 'Source Sans Pro', sans-serif;
  border: none;
}

#navbutton:hover {

  background-color: transparent;
  cursor: pointer;
}

#navarrow {
  color: #41e78c;
  border: none;
  padding-bottom: 5px;
  transition: all 0.5s;
  animation: bounce 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(5px);
  }
  to {
    transform: translateY(-10px);
  }
}
