new-tweet {
  margin: auto;
  border-bottom-color: rgb(39, 3, 44);
  border-bottom-width: 5px;
  justify-content: space-between;
}

.footer {
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: space-between;

  font-family: "Bungee", sans-serif;
}

#counter {
  align-content: right;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
  color: #4d014d;
}

.tweetbtn {
  align-content: left;
  font-family: "Bungee", sans-serif;
  background-color: #2b0d2f;
  color: #99f8e8; 
  box-sizing: border-box;

}

.input {
  width: 40%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid black 5px;
  background: none;
}

container {
  display: flex;
  width: 40%;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
  border-bottom: 5px solid red;
}
